# Server
PORT=5000
NODE_ENV=development

# Database - WAMP Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=tour_booking_db

# JWT
JWT_SECRET=your_jwt_secret_key_change_this_to_a_long_random_string_123456789
JWT_REFRESH_SECRET=your_refresh_secret_key_change_this_to_a_long_random_string_987654321
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=hsukihsuki001@gmail.com
EMAIL_PASS=jgfl wesn moue dfta

# VNPay
VNP_TMN_CODE=DD0X9XME
VNP_HASH_SECRET=0Z8ZRKGO17G2V84WJ8QP5B1ZFFZDP94Y
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:3000/payment-return
VNP_IPN_URL=http://localhost:5000/api/payments/vnpay-ipn

# Frontend URL
CLIENT_URL=http://localhost:3000